<button type="button" class="btn btn-primary">Pertamax</button>
<button type="button" class="btn btn-secondary">Pertalite</button>
<button type="button" class="btn btn-warning">Solar</button>
<button type="button" class="btn btn-danger">Pertamax Plus</button>

<h1>Bensing Yang Di pilih : </h1>
<h2>Harga : {{ harga }}</h2>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Jumlah Liter</label>
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder=""
  />
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Jumlah Bayar</label>
  <input
    type="email"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder=""
  />
</div>

<button type="button" class="btn btn-success">Hitung</button>

<p>Harga Yang dibayar</p>

<div [ngClass]="testClass" role="alert">
    <p>Uang Kembali</p>
</div>